html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}


header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: beige;
}

header a {
  color:rgb(61, 58, 58); 
  text-decoration: none;
} 

.navbar{
  display: flex;
  gap: 10px;
}

footer{
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color:rgb(61, 58, 58); 
  bottom: 0;
  background-color: beige;
}

footer p{
  text-transform: uppercase;
}